h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}

.avatar-person {
  border-radius: 100%;
  margin: 1% 0;
}

.button-line {
  margin-bottom: 2%;
}

