h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}

.avatar-person {
  border-radius: 100%;
  margin: 1% 0;
}

.button-line {
  margin-bottom: 1%;
}

.button-line.loading {
  opacity: 0.5;
}


@media (max-width: 800px) {
  .avatar-person {
    width: 70%;
  }
  .button-line  {
    order: 3;
    font-size: 14px;
  }
  .back-button {
    left: 5%;
    top: 5%;
  }
}